.main-container {
	margin: 100px auto;
	width: 100%;
	padding: 10px;
}
body {
	font-family: 'Source Sans Pro', Helvetica,Arial,sans-serif;
	font-size: 13px;
}
.chartlines {
	fill: none;
	stroke-width: 1.5px;
}

.axis text {
	font-size: 12pt;
}
.axis .label {
	font-size: 14pt;
}

.axis path, .axis line {
	fill: none;
	stroke: #dcdcdc;
	shape-rendering: crispEdges;
}

.color-legend text {
	font-size: 12pt;
}
.chartlines text {
	font-size: 8pt;
}