
<div class="left-panel col-sm-12 col-md-9">
  <h3 *ngIf="detailPage">{{detailPage.title}}</h3>
  <div *ngIf="graphData">
    <app-graph [data]="graphData"></app-graph>
  </div>
  <mat-table #table [dataSource]="tableData">
    <ng-container *ngFor="let curColumn of tableHeaders"  matColumnDef="{{curColumn}}">
      <mat-header-cell *matHeaderCellDef> {{curColumn}} </mat-header-cell>
      <mat-cell *matCellDef="let element" [innerHTML]="element[curColumn|lowercase]" >  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableHeaders;"></mat-row>
  </mat-table>
  
</div>
<div class="right-panel col-sm-12 col-md-3">

</div>