<div class="row">
  <!-- <div class="col-12 breadcrumb-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Adsorption</li>
      </ol>
    </nav>
  </div> -->
</div>
<div class="row">
  <div class="left-panel col-sm-12 col-md-9">
      <h3 *ngIf="detailPage">{{detailPage.title}}</h3>
      <div *ngIf="graphData" class="graph-content">
        
        <app-graph [data]="graphData" (onLoaded)="graphLoaded($event)"></app-graph>
        <div class="overlay-container">
          <div class="overlay-marker-x-min"></div>
          <div class="overlay-marker-y-min"></div>
          <div class="overlay-marker-x-max"></div>
          <div class="overlay-marker-y-max"></div>
        </div>
        <select (change)= "onPropertySelect($event.target)">
          <option *ngFor="let property of properties; let i = index" [value]="property.id">{{property.name}}</option>
        </select>
      </div>

      <div class="row">
        <div class="col-12">
          <data-table
            [items]="tableData"
            [pagination]="false"
            [indexColumn]="false"
            [header]="false"
            [selectColumn]="false"
            [multiSelect]="false">
            <data-table-column
              *ngFor="let curColumn of tableHeaders"
              property="{{curColumn.key}}"
              header="{{curColumn.value}}"
              sortable="true">
            </data-table-column>
          </data-table>
        </div>
      </div> 
      

    </div>
    
    <div *ngIf="graphData" class="right-panel col-sm-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="slider-list">
            <div *ngFor="let eachSlider of sliderData" class="section">
              <app-rangeslider [silderData]="eachSlider" (onSlide)="slides($event[0], $event[1])" (onChange)="changes($event[0], $event[1])"></app-rangeslider>
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-primary" (click)="filter()">Filter</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" (click)="reset()" class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="card" style="margin-top: 20px;">
        <div class="card-body">
          <div class="col-12">
            <div class="row">
                <h5>Compare substance</h5>
            </div>

            <ul class="row" style="list-style: none;padding: 0;">
                <li *ngFor="let substance of substanceList" class="col-12" style="margin: 0 0 10px 0; padding: 0; font-size: 12px;">
                  
                  <span>{{substance}}</span>
                  <i style="margin: 2px 0 0 15px;" class="fas fa-minus-square"></i>
                </li>
              </ul>

            <app-autocomplete [dataOptions]="autocompleteOptions" (onSelect)="select($event)"></app-autocomplete>
          </div>
        </div>
      </div>
    </div>
</div>
