<div class="row">
  <div class="col-12 breadcrumb-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Adsorption</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="left-panel col-sm-12 col-md-9">
      <h3 *ngIf="detailPage">{{detailPage.title}}</h3>
      <div *ngIf="graphData" class="graph-content">
        
        <app-graph [data]="graphData" (onLoaded)="graphLoaded($event)"></app-graph>
        <div class="overlay-container">
          <div class="overlay-marker-x-min"></div>
          <div class="overlay-marker-y-min"></div>
          <div class="overlay-marker-x-max"></div>
          <div class="overlay-marker-y-max"></div>
        </div>
        <select (change)= "onPropertySelect($event.target)">
          <option *ngFor="let property of properties; let i = index" [value]="property.id">{{property.name}}</option>
        </select>
      </div>

      <div class="row">
        <div class="col-12">
          <data-table
            [items]="tableData"
            [pagination]="false"
            [indexColumn]="false"
            [selectColumn]="false"
            [multiSelect]="false">
            <data-table-column
              *ngFor="let curColumn of tableHeaders"
              property="{{curColumn.key}}"
              header="{{curColumn.value}}"
              sortable="true">
            </data-table-column>
          </data-table>
        </div>
      </div> 
      

    </div>
    
    <div class="right-panel col-sm-12 col-md-3">
      <div class="slider-list">
        <div *ngFor="let eachSlider of sliderData" class="section">
          <app-rangeslider [silderData]="eachSlider" (onSlide)="slides($event[0], $event[1])" (onChange)="changes($event[0], $event[1])"></app-rangeslider>
        </div>
      </div>
      
      <button class="btn btn-primary" (click)="filter()">Filter</button>

      <div *ngIf="graphData" class="col-12">
        <app-autocomplete [dataOptions]="autocompleteOptions" (onSelect)="select($event)"></app-autocomplete>
      </div>
    </div>
</div>
