html, body * {
	font-family: 'Source Sans Pro';
}
.wrapper {
	width: 100%;
	max-width: 1200px;
}
.right-panel {
	background: #f8f9fa;
}

.left-panel, .home {
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-container {
	background: #f8f9fa;
}
.chartlines {
	fill: none;
	stroke-width: 1.5px;
}
.axis text {
	font-size: 12pt;
}
.axis .label {
	font-size: 14pt;
}

.axis path, .axis line {
	fill: none;
	stroke: #dcdcdc;
	shape-rendering: crispEdges;
}

.color-legend text {
	font-size: 12pt;
}
.chartlines text {
	font-size: 8pt;
}

.slider-content {
	margin-top: 15px;
}
.slider-element {
	margin: 15px 8px;
}

.slider-inputs input {
	width: 100%;
	float: left;
}

.breadcrumb-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.overlay-container {
    width: 100%;
    height: 100%;
}

.overlay-marker-x-min,
.overlay-marker-x-max,
.overlay-marker-y-min,
.overlay-marker-y-max {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(227,227,227,0.8);
}

.graph-content {
	position: relative;
}
.sm-autocomplete {
	margin-top: 15px;
}